{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full Name" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[cd]
    command = "/home/linuxbrew/.linuxbrew/bin/nu"
