# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

# Homebrew
if [ -f "/home/linuxbrew/.linuxbrew/bin/brew" ]; then
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
elif [ -f "/opt/homebrew/bin/brew" ]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
    for rc in ~/.bashrc.d/*; do
        if [ -f "$rc" ]; then
            . "$rc"
        fi
    done
fi
unset rc

## USER
export STARSHIP_CONFIG=~/.config/starship/.starship.toml
export ZK_NOTEBOOK_DIR=~/notebook

export EDITOR=nvim
export VISUAL=nvim

eval "$(starship init bash)"
eval "$(zoxide init bash)"
### bling.sh source start
test -f /usr/share/ublue-os/bling/bling.sh && source /usr/share/ublue-os/bling/bling.sh
### bling.sh source end

# ALIASES
alias gearlever='flatpak run it.mijorus.gearlever'
alias update-mlib="systemctl --user restart plex.service && systemctl --user restart jellyfin.service"

PATH=$PATH:~/.filen-cli/bin

# Added by LM Studio CLI (lms)
export PATH="$PATH:/Users/felbro/.lmstudio/bin"
# End of LM Studio CLI section

# Ripgrep configuration
export RIPGREP_CONFIG_PATH=$HOME/.config/nvim/.ripgreprc
. "$HOME/.cargo/env"
