#!/bin/bash

# Common Mac and Linux Bazzite stuff

## Command line tool
brew install nushell nvim starship zoxide fzf

## Lang toolchain

if ! command -v volta &>/dev/null; then
    curl https://get.volta.sh | bash
    
    # install latest LTS node
    volta install node
else 
    echo "Volta already installed"
fi

brew install go

# tool dependent on npm
npm install -g @bitwarden/cli

# bazzite flatpacks
{{- if eq .chezmoi.hostname "bazzite" }}
flatpak -y install bitwarden
flatpak install org.freedesktop.Platform.VulkanLayer.MangoHud
flatpak override --user --env=MANGOHUD=1 com.valvesoftware.Steam
{{- end }}
