#!/bin/bash

# Common Mac and Linux Bazzite/Bluefin stuff

## Command line tool
brew install nushell \
    nvim \
    starship \
    zoxide \
    fzf \
    zellij \
    tmux \
    lazydocker \
    httpie \
    carapace \
    zk \
    atuin \
    direnv \
    fd \
    ripgrep \
    tealdeer \
    television \
    ugrep \
    uutils-coreutils \
    yq \
    bitwarden-cli \
    gemini-cli

## install npm tools
npm install -g @devcontainers/cli


# bazzite flatpacks
{{- if or (contains "bazzite" .chezmoi.hostname) (contains "bluefin" .chezmoi.hostname) }}
flatpak -y --system --or-update install com.bitwarden.desktop
flatpak -y --system --or-update install it.mijorus.gearlever
{{- end }}
