#!/bin/bash

# Common Mac and Linux Bazzite stuff

## Command line tool
brew install nushell \
    nvim \
    starship \
    zoxide \
    fzf \
    zellij \
    lazydocker \
    httpie \
    carapace \
    zk \
    atuin \
    direnv \
    fd \
    ripgrep \
    tealdeer \
    television \
    ugrep \
    uutils-coreutils \
    yq 


brew install go uv oven-sh/bun/bun

# tool dependent on npm
bun install -g @bitwarden/cli

# bazzite flatpacks
{{- if eq .chezmoi.hostname "bluefin-laptop" "bluefin-desktop" }}
flatpak -y --system --or-update install bitwarden
flatpak -y --system --or-update install vivaldi
{{- end }}
