#!/bin/bash

# Common Mac and Linux Bazzite stuff

## Command line tool
brew install nushell nvim starship zoxide fzf zellij

## Lang toolchain
if ! command -v devpod  &>/dev/null; then
    curl -L -o devpod "https://github.com/loft-sh/devpod/releases/latest/download/devpod-linux-amd64" && sudo install -c -m 0755 devpod /usr/local/bin && rm -f devpod
else 
    echo "Devpod already installed"
fi

if ! command -v volta &>/dev/null; then
    curl https://get.volta.sh | bash
else 
    echo "Volta already installed"
    # install latest LTS node
    volta install node
fi

brew install go

# tool dependent on npm
npm install -g @bitwarden/cli

# bazzite flatpacks
{{- if eq .chezmoi.hostname "bazzite" }}
flatpak -y install bitwarden
flatpak install org.freedesktop.Platform.VulkanLayer.MangoHud
flatpak override --user --env=MANGOHUD=1 com.valvesoftware.Steam
flatpak install flathub com.discordapp.Discord
{{- end }}
