[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin
Label=io.containers.autoupdate=registry
PublishPort=8096:8096/tcp
PublishPort=8920:8920/tcp
PublishPort=7359:7359/udp
PublishPort=1900:1900/udp
Volume=jellyfin-config:/config:z
Volume=jellyfin-cache:/cache:z
Volume=/run/media/system/media:/data:z
Network=host
Pod=netfelix.pod
AddDevice=nvidia.com/gpu=all

[Service]
Restart=unless-stopped
ExecStartPre=/usr/bin/nvidia-smi

[Install]
WantedBy=default.target
