# general
background = '{{ .theme.base.b00 }}'
border_fg = '{{ .theme.base.b02 }}'
text_fg = '{{ .theme.base.b05 }}'
dimmed_text_fg = '{{ .theme.base.b03 }}'

# input
input_text_fg = '{{ .theme.base.b07 }}'
result_count_fg = '{{ .theme.base.b04 }}'

# results
result_name_fg = '{{ .theme.palette.cyan }}'
result_line_number_fg = '{{ .theme.base.b04 }}'
result_value_fg = '{{ .theme.base.b03 }}'
selection_fg = '{{ .theme.base.b07 }}'
selection_bg = '{{ .theme.base.b01 }}'
match_fg = '{{ .theme.palette.bright_green }}'

# preview
preview_title_fg = '{{ .theme.base.b06 }}'

# modes
channel_mode_fg = '{{ .theme.base.b00 }}'
channel_mode_bg = '{{ .theme.base.b06 }}'
remote_control_mode_fg = '{{ .theme.base.b00 }}'
remote_control_mode_bg = '{{ .theme.palette.bright_green }}'
send_to_channel_mode_fg = '{{ .theme.palette.cyan }}'
