{{- $t := index .themes .active_theme -}}
{{- $bg := $t.background -}}
{{- $fg := $t.foreground -}}
{{- $rib_bg := $t.ribbon_bg -}}
{{- $rib_sel_bg := $t.ribbon_sel_bg -}}
{{- $rib_fg := $t.ribbon_fg -}}
{{- $sel_bg := $t.selection_bg -}}
{{- $sel_fg := $t.selection_fg -}}
{{- $p := $t.palette -}}
themes {
    active-theme {
        text_unselected {
            base "{{ $fg }}"
            background "{{ $bg }}"
            emphasis_0 "{{ $p.bright_green }}"
            emphasis_1 "{{ $p.magenta }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.bright_yellow }}"
        }
        text_selected {
            base "{{ $sel_fg }}"
            background "{{ $sel_bg }}"
            emphasis_0 "{{ $p.bright_yellow }}"
            emphasis_1 "{{ $p.bright_green }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.white }}"
        }
        ribbon_unselected {
            base "{{ $rib_fg }}"
            background "{{ $rib_bg }}"
            emphasis_0 "{{ $rib_fg }}"
            emphasis_1 "{{ $rib_fg }}"
            emphasis_2 "{{ $rib_fg }}"
            emphasis_3 "{{ $rib_fg }}"
        }
        ribbon_selected {
            base "{{ $rib_fg }}"
            background "{{ $rib_sel_bg }}"
            emphasis_0 "{{ $rib_fg }}"
            emphasis_1 "{{ $rib_fg }}"
            emphasis_2 "{{ $rib_fg }}"
            emphasis_3 "{{ $rib_fg }}"
        }
        table_title {
            base "{{ $p.bright_green }}"
            background "{{ $bg }}"
            emphasis_0 "{{ $p.bright_yellow }}"
            emphasis_1 "{{ $p.magenta }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.blue }}"
        }
        table_cell_unselected {
            base "{{ $fg }}"
            background "{{ $bg }}"
            emphasis_0 "{{ $p.bright_green }}"
            emphasis_1 "{{ $p.magenta }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.bright_yellow }}"
        }
        table_cell_selected {
            base "{{ $sel_fg }}"
            background "{{ $sel_bg }}"
            emphasis_0 "{{ $p.bright_yellow }}"
            emphasis_1 "{{ $p.bright_green }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.white }}"
        }
        list_unselected {
            base "{{ $fg }}"
            background "{{ $bg }}"
            emphasis_0 "{{ $p.bright_green }}"
            emphasis_1 "{{ $p.magenta }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.bright_yellow }}"
        }
        list_selected {
            base "{{ $sel_fg }}"
            background "{{ $sel_bg }}"
            emphasis_0 "{{ $p.bright_yellow }}"
            emphasis_1 "{{ $p.bright_green }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.white }}"
        }
        frame_unselected {
            base "{{ $p.bright_black }}"
            background "{{ $bg }}"
            emphasis_0 "{{ $p.bright_yellow }}"
            emphasis_1 "{{ $p.magenta }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.bright_green }}"
        }
        frame_selected {
            base "{{ $p.bright_green }}"
            background "{{ $bg }}"
            emphasis_0 "{{ $p.bright_yellow }}"
            emphasis_1 "{{ $p.magenta }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.blue }}"
        }
        frame_highlight {
            base "{{ $p.bright_yellow }}"
            background "{{ $bg }}"
            emphasis_0 "{{ $p.bright_yellow }}"
            emphasis_1 "{{ $p.bright_yellow }}"
            emphasis_2 "{{ $p.bright_yellow }}"
            emphasis_3 "{{ $p.bright_yellow }}"
        }
        exit_code_success {
            base "{{ $p.bright_green }}"
            background "{{ $bg }}"
            emphasis_0 "{{ $p.cyan }}"
            emphasis_1 "{{ $p.bright_yellow }}"
            emphasis_2 "{{ $p.magenta }}"
            emphasis_3 "{{ $p.blue }}"
        }
        exit_code_error {
            base "{{ $p.red }}"
            background "{{ $bg }}"
            emphasis_0 "{{ $p.bright_yellow }}"
            emphasis_1 "{{ $p.magenta }}"
            emphasis_2 "{{ $p.cyan }}"
            emphasis_3 "{{ $p.bright_green }}"
        }
        multiplayer_user_colors {
            player_1 "{{ $p.magenta }}"
            player_2 "{{ $p.blue }}"
            player_3 "{{ $p.cyan }}"
            player_4 "{{ $p.bright_yellow }}"
            player_5 "{{ $p.bright_green }}"
            player_6 "{{ $p.bright_red }}"
            player_7 "{{ $p.red }}"
            player_8 "{{ $p.bright_magenta }}"
            player_9 "{{ $p.bright_blue }}"
            player_10 "{{ $p.bright_cyan }}"
        }
    }
}
