themes {
    minischeme {
        fg "{{ .theme.palette.bright_yellow }}"
        bg "{{ .theme.background }}"
        black "{{ .theme.background }}"
        white "{{ .theme.palette.white }}"
        red "{{ .theme.palette.red }}"
        orange "{{ .theme.palette.bright_red }}"
        yellow "{{ .theme.palette.yellow }}"
        green "{{ .theme.palette.bright_green }}"
        blue "{{ .theme.palette.blue }}"
        cyan "{{ .theme.palette.cyan }}"
        magenta "{{ .theme.palette.bright_magenta }}"
    }
}
