#:schema https://jj-vcs.github.io/jj/latest/config-schema.json
[ui]
# SCENARIO: `jj log`, `jj diff`, `jj show`
# Used for quick, read-only viewing in the terminal.
paginate = "never"
default-command = "log"
# diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
# 'curved' or 'square' usually looks cleaner than the default 'ascii'
graph.style = "curved"

[settings]
diff.format = "color-words"


{{- if eq .chezmoi.os "darwin" }}
[user]
name = "Felix Brousseau-Tremblay"
email = "felix.brousseau-tremblay@kivra.com"
{{- else }}
[user]
name = "Felix Brousseau-Tremblay"
email = "felix@brouss.eu"
{{- end }}

{{- if eq .chezmoi.hostname "Felixs-MacBook-Pro.local" }}
[signing]
behavior = "own"
backend = "ssh"
key = "~/.ssh/SSH Key Kivra.pub"
{{- end }}

[revsets]
log = '''overview'''

[revset-aliases]
hidden = "none()"
# "mutable_commits(max)" = "ancestors(immutable_heads().., max)"
recent = "committer_date(after:'1 weeks ago')"
# "Show me the last week of the world, connected to the trunk"
overview = '(trunk()..(bookmarks() | mine()) & recent) | ancestors(trunk(), 5)'
# "Everything recent that isn't bot-noise, plus my current spot"
daily_work = '(trunk()..((bookmarks() | mine()) & recent) | trunk()..@) & ~author("renovate")'
# "Just my stuff and the branch I'm standing on"
active = 'trunk()..((mine() & recent) | @ | (@ & bookmarks()))'

[aliases]
fetch = ["git", "fetch"]
push = ["git", "push"]
# Re-graft the branch of current commits on trunk to the latest upstream commit
lift = ["rebase", "--source", "roots(trunk()..@)", "--destination", "trunk()"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
day = ["log", "-r", "daily_work"]
now = ["log", "-r", "active"]

[remotes.origin]
auto-track-bookmarks = "*"

[templates]
log = '''
label(if(current_working_copy, "working_copy"),
  concat(
    format_short_id(change_id), " ",
    author.name(), " ",
    author.timestamp().format("%Y-%m-%d %H:%M"), " ",
    bookmarks,
    "\n",
    description.first_line(),
  )
)
'''
