{{- $t := index .themes .active_theme -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Pure</string>
  <key>settings</key>
  <array>
    <dict>
      <key>settings</key>
      <dict>
        <key>background</key>
        <string>{{ $t.background }}</string>
        <key>foreground</key>
        <string>{{ $t.foreground }}</string>
        <key>caret</key>
        <string>{{ $t.cursor }}</string>
        <key>selection</key>
        <string>{{ $t.selection_bg }}</string>
        <key>lineHighlight</key>
        <string>{{ $t.base.b01 }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Comment</string>
      <key>scope</key>
      <string>comment, punctuation.definition.comment</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.base.b03 }}</string>
        <key>fontStyle</key>
        <string>italic</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Keyword / Storage</string>
      <key>scope</key>
      <string>keyword, storage, storage.type, keyword.control</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.palette.magenta }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>String</string>
      <key>scope</key>
      <string>string, string.quoted, constant.character</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.palette.green }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Number / Constant</string>
      <key>scope</key>
      <string>constant.numeric, constant.language, constant.other</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.palette.yellow }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Function</string>
      <key>scope</key>
      <string>entity.name.function, support.function, meta.function-call</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.palette.blue }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Type / Class</string>
      <key>scope</key>
      <string>entity.name.type, entity.name.class, support.type, support.class</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.palette.cyan }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Variable</string>
      <key>scope</key>
      <string>variable, variable.parameter, meta.definition.variable</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.foreground }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Tag</string>
      <key>scope</key>
      <string>entity.name.tag, punctuation.definition.tag</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.palette.magenta }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Attribute</string>
      <key>scope</key>
      <string>entity.other.attribute-name</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.palette.yellow }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Invalid</string>
      <key>scope</key>
      <string>invalid, invalid.illegal</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $t.palette.red }}</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
